:root{
    --main: rgb(33, 167, 137);
    --secondary: rgb(255, 232, 203);
    --trim: rgb(131, 151, 161);

}

.banner-font {
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

.banner{
    background-color: var(--main);
    
}

.bg-soft{
    background-color: var(--secondary);
}

.card-white{
    background: rgb(243, 241, 238);
    box-shadow: 2px 2px 3px rgb(131, 151, 161);
    border-radius: 2%;
    margin: 0 .5em;
    padding: 0 .5em;
}
/* has potential as an overflow solution, would need to account for internal item distortion */
/* .card-white-overflow{
    background: rgb(243, 241, 238);
    box-shadow: 2px 2px 3px rgb(131, 151, 161);
    border-radius: 2%;
    margin: 0.5em;
    padding: 0 .5em;
    transform: scaleY(150%) translateY(15%);
} */


@media (min-width: 768px) {
    .card-white-overflow {
        position: absolute;
        min-width: 45%;
    }
}

.card-white-static{
    background: rgb(243, 241, 238);
    box-shadow: 2px 2px 3px rgba(10, 100, 80, .2);
    border-radius: 2%;
    margin: 0 .5em;
    padding: 0 .5em;
       
}


/* This one is for if i just create the needed space with padding at all sizes */
/* @media (min-width: 768px) {
    .text-shifted{
        padding-top: 20%;
    }
} */

 /* This one is for if I want to add content to create the space instead of padding at larger sizes */
 @media (min-width: 768px) AND (max-width:1199px) {
    .text-shifted{
        padding-top: 20%;
    }
} 

@media (min-width: 1200px){
    .img-lg-only{
        display: flex;
        height: 20%;
        width: auto !important;
    }
}


.card-white:hover {
    transform: scale(1.01);
}

.card-shift{
    transform: translateY(20%);
}

.bg-img-main{
    background-image: url('./img/bgtrees.jpg');
    background-size: cover;
    background-position: center;
    /* Temporary height so I could see img before content was added */
    /* height: 35vh; */
}

.img-tile{
    height: auto;
    max-width: 40%;
    margin: 0;
}

.img-filter{
    filter: grayscale(80%);
}

.separator-h{
    background-color: var(--trim);
    min-height: .2vh;
    max-width: 5vh;
    padding: 0;
    margin: auto;
}


.separator-v{
    background-color: var(--trim);
    min-height: 5vh;
    max-width: .3vh;
    padding: 0;
    margin: auto;
}

.button-main{
    background-color: var(--main);
    border-color: var(--main);
    color: white
}

.button-main:hover{
    background-color: rgb(26, 139, 106);
    border-color: var(--main);
    
}

.button-soft{
    background-color: var(--secondary);
    border-color: var(--secondary);
    color: rgb(14, 14, 14)
}

.button-soft:hover{
    background-color: rgb(223, 198, 168);
    border-color: var(--secondary);
    color: rgb(14, 14, 14)
}

.text-de{
    filter: opacity(60%)
}

.animated{
    animation-duration: 4s;
    animation-name: fadein;
}

@keyframes fadein{
    from{
        filter:opacity(5%);
    }
    to{
        filter:opacity(100%);

    }
}

.btn-top{
    font-variant: small-caps;
    border-radius: 50%;
    align-self: flex-center;
}

.text-unimportant{
    font-weight: 200;
}